[build]
  command = "npm install && npm run build"
  publish = "_site"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404

  [[redirects]]
  from = "http://degroenepaauw.nl/*"
  to = "https://degroenepaauw.nl/:splat"
  status = 301
  force = true

[[redirects]]
  from = "http://www.degroenepaauw.nl/*"
  to = "https://degroenepaauw.nl/:splat"
  status = 301
  force = true
